<h1>Listing options</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Survey</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @options.each do |option| %>
  <tr>
    <td><%= option.content %></td>
    <td><%= option.survey %></td>
    <td><%= link_to 'Show', admin_option_path(option) %></td>
    <td><%= link_to 'Edit', edit_admin_option_path(option) %></td>
    <td><%= link_to 'Destroy', admin_option_path(option), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Option', new_admin_option_path %>
