<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @option.content %>
</p>

<p>
  <b>Survey:</b>
  <%= @option.survey %>
</p>


<%= link_to 'Edit', edit_admin_option_path(@option) %> |
<%= link_to 'Back', admin_options_path %>
