<h1>Listing user_device_tokens</h1>

<table>
  <tr>
    <th>User</th>
    <th>Device token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_device_tokens.each do |user_device_token| %>
  <tr>
    <td><%= user_device_token.user %></td>
    <td><%= user_device_token.device_token %></td>
    <td><%= link_to 'Show', user_device_token %></td>
    <td><%= link_to 'Edit', edit_admin_user_device_token_path(user_device_token) %></td>
    <td><%= link_to 'Destroy', user_device_token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User device token', new_admin_user_device_token_path %>
