<h1>Listing surveys</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Question</th>
    <th>Talk</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%= survey.type %></td>
    <td><%= survey.question %></td>
    <td><%= survey.talk %></td>
    <td><%= link_to 'Show', survey %></td>
    <td><%= link_to 'Edit', edit_admin_survey_path(survey) %></td>
    <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey', new_admin_survey_path %>
