<h1>Listing attendances</h1>

<table>
  <tr>
    <th>User</th>
    <th>Talk</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.user %></td>
    <td><%= attendance.talk %></td>
    <td><%= attendance.start_time %></td>
    <td><%= attendance.end_time %></td>
    <td><%= link_to 'Show', attendance %></td>
    <td><%= link_to 'Edit', edit_admin_attendance_path(attendance) %></td>
    <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendance', new_admin_attendance_path %>
