<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @attendance.user %>
</p>

<p>
  <b>Talk:</b>
  <%= @attendance.talk %>
</p>

<p>
  <b>Start time:</b>
  <%= @attendance.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @attendance.end_time %>
</p>


<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
